<mat-card>
  <mat-toolbar> Create Loan </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" >

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Currency</mat-label>
        <select matNativeControl required>
          <option value="BRL">Real</option>
          <option value="USD">Dolar Americano</option>
          <option value="EUR">Euro</option>
          <option value="CAD">Dolar Canadense</option>
        </select>
      </mat-form-field>

      <mat-form-field class="full-width number" appearance="fill">
        <mat-label>Amount</mat-label>
        <span matPrefix>$&nbsp;</span>
        <input matInput type="number" class="example-left-align" formControlName="total_value">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Conversion Tax</mat-label>
        <input matInput formControlName="conversion_tax">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="loan_expire_date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Confirm</button>
    <button mat-button (click)="onCancel()" >Cancel</button>
  </mat-card-actions>
</mat-card>

